{
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.ts",
  "plugins": ["prettier-plugin-tailwindcss"]
}
